*{
    font-family: 'Gill Sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body{
    overflow: hidden;
    height: 150vh;
    background-color: #e8edef !important;
    background-image: url("../imgs/transparent-friends.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.form-container{
    position: relative;
    bottom: 30px;
}

.greetings-container{
    background-color: #ffffff !important;
    border: 5px dashed #95e277;
    border-radius: 5px;
    padding: 5px 10px;
    animation: zoom; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 10s; /* don't forget to set a duration! */
}

.img-container{
    margin: 0 auto;
}

.title-bar{
    background-color: #6fe8ecfb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
}

footer h6{
    font-weight: 200 !important;
}

.main-content{
    margin: 20px 100px !important;
    padding: 50px;
}